.sensor-chart-container {
  width: 100%;
  min-height: 300px;
  padding: 16px 0;

  .chart-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 300px;

    canvas {
      display: block;
      width: 100%;
      max-height: 400px;
    }
  }

  .no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    color: #999;
    font-size: 14px;

    p {
      margin: 0;
    }
  }
}
