ion-card-title {
  font-size: 1.2rem;
}

ion-item {
  --padding-start: 0;
}

ion-badge {
  font-size: 1rem;
}

.static-map {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

ion-card {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 95vw;
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

ion-card:last-of-type {
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}